<div class="container">
  <h1>Welcome to the Fabianator!</h1>

  <form action="/urls" method="post">
    <p>Please put your URL here!</p>
    <input type="text" name="url">
    <input type="submit">
  </form>

</div>
